
{deps, [
    {jiffy, ".*", {git, "git://github.com/davisp/jiffy.git",
        {branch, "feature-add-rebar3-support"}}}
]}.

{erl_opts, [
    debug_info
]}.

{relx, [
    {release, {goop, "0.0.1"},
         [goop]
    },
    {dev_mode, true},
    {include_erts, false},
    {extended_start_script, true}
]}.